selenium
aiohttp

pyyaml
requests
pillow
cairosvg

mkdocs
pymdown-extensions
mkdocs-katex-ssr
mkdocs-glightbox
mkdocs-table-reader-plugin
mkdocs-jupyter
markdown-exec[ansi]

git+https://github.com/raineblog/mkdocs-material.git
